
    $blue: #003666;
    $blueblack: #051736;
    $lightblue: #005be2;
    $black: #59626a;
    $grey: #8996a0;
    $ash: #47525d;
    $orange: #ff6c5f;
    $pink: #990033;
    $insta: #bf0d3e;
    $lightgreen: #00ad45;
    $darkgreen: #005238;
    $green: #057855;
    $yellow: #feba02;
    $lightyellow: #fbbc05;
    $darkyellow: #f79400;
    $red: #FF0000;
    $lightred: #ea4335;
    $darkred: #990000;
    $defaultFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

/* Blue */
.blue{ 
    color: $blue;
}
.blueblack {
    color: $blueblack;
}
.lightblue{ 
    color: $lightblue;
}

/* Black */
.black{ 
    color: black;
}
.grey{ 
    color: $grey;
}
.ash{ 
    color: $ash;
}


/* Orange  & Pink*/
.orange{
    color: $orange;
}
.pink{
    color: $pink;
}
.insta{ 
    color: $insta;
}

/* Green */
.green{ 
    color: $green;
}
.darkgreen {
    color: $darkgreen;
}
.lightgreen {
    color: $lightgreen;
}

/* Yellow */
.yellow {
    color: $yellow;
}
.lightyellow{ 
    color: $lightyellow;
}
.darkyellow{ 
    color: $darkyellow;
}

/* Red */
.red{ 
    color: $red;
}
.lightred{
    color: $lightred;
}
.darkred{ 
    color: $darkred;
}
