@font-face {
    font-family: "Sans-regular";
    src: url("./fonts/sans-regular.ttf");
    font-weight: normal
}

@font-face {
    font-family: "Sans-Bold";
    src: url("./fonts/sans-bold.ttf");
    font-weight: normal
}

@font-face {
    font-family: "Augusta-Regular";
    src: url("./fonts/Augusta-Regular.ttf");
    font-weight: normal
}

@font-face {
    font-family: "Augusta-Light";
    src: url("./fonts/Augusta-Light.ttf");
    font-weight: normal
}

@font-face {
    font-family: "Augusta-Bold";
    src: url("./fonts/Augusta-Bold.ttf");
    font-weight: normal
}

@font-face {
    font-family: "Augusta-Black";
    src: url("./fonts/Augusta-Black.ttf");
    font-weight: normal
}

@font-face {
    font-family: "Damain-Regular";
    src: url("./fonts/Damain-Regular-Web.ttf");
    font-weight: normal
}

@font-face {
    font-family: "Damain-Bold";
    src: url("./fonts/Damain-Semibold-Web.ttf");
    font-weight: normal
}

@font-face {
    font-family: "Damain-Medium";
    src: url("./fonts/Damain-Medium-Web.ttf");
    font-weight: normal
}