@import './css/colors.scss';
@import './css/fonts.scss';
@import './css/navbar.scss';
@import  './css/about.scss' ;
@import './css/footer.scss';

* {
    margin: 0;
    padding: 0;
    font-family: "Sans-Regular", $defaultFont;    
    // outline: 1px solid red;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

a {
    text-decoration: none !important;
}

ul {
    li {
        list-style: none;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}