@import './colors.scss';
@import './fonts.scss';
@import './navbar.scss';
@import  './content.scss' ;
@import './footer.scss';

* {
    margin: 0;
    padding: 0;
    font-family: "Sans-Regular", $default-font;    
    // outline: 1px solid red;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    li {
        list-style: none;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


@function get-vh($object) {
    $vh: (768 * 0.01) * 1px;
    @return ($object / $vh) * 1vh;
}