@import 'em-mixin.scss';

header {
    flex-flow: row wrap;
    height: em(90px);
    padding: 0 10rem;
    box-shadow: 0 em(2px) em(4px) 0 rgba(0, 0, 0, 0.1);

    @media (max-width: em(850px)) {
        padding: 0 2.5rem;
    }

    @media (max-width: em(550px)) {
        padding: 0;
    }

    .brand {
        margin-right: auto;
        font-size: 2rem;
        color: $blue;

        @media (max-width: em(550px)) {
            text-align: center;
            font-size: 1.5rem;
            width: 100%;
        }
    }

    nav {
        overflow-x: auto;

        ul li {
            margin: 0 0.5rem;
            padding: em(7px);
            color: $lightgreen;
            border: 1px solid transparent;
            border-radius: em(2px);
            cursor: pointer;
            transition: border-color 0.3s;

            &:hover {
                border-color: lighten($color: $grey, $amount: 20)
            }

            &:nth-child(2) {
                border-color: $blue;
                color: $blue;
            }
        }
    }
}
